<div class="card">
    <div class="card-body">
        <h5 class="card-title">New Post</h5>
        <input id="newPostTitle" class="form-control mb-2" type="search" placeholder="Post Title" aria-label="Title">
        <input id="newPostAuthor" class="form-control mb-2" type="search" placeholder="Username" aria-label="Author">
        <textarea id="newPostContent" class="form-control mb-2" type="search" placeholder="Text..." aria-label="Text"></textarea>
        <button id="newPostButton" class="btn btn-primary">Create</button>
    </div>
</div>